RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^hashtag/([A-Za-z0-9_]+)$ hashtag.php?hashtag=$1
RewriteRule ^([A-Za-z0-9_]+)$ profile.php?username=$1

# Disable directory browsing
Options All -Indexes

# Protect .git folder
RedirectMatch 404 /\.git

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

# Protect connect.php file
<Files connect.php>
order allow,deny
deny from all
</Files>

# Protect README.md file
<Files README.md>
order allow,deny
deny from all
</Files>
